body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #c75d29;
    color: rgb(243, 238, 238);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background: url('college-hero1.webp') no-repeat center center/cover;
    color: rgb(24, 23, 23);
    text-align: center;
    padding: 4rem 1rem;
}

#hero h2 {
    font-size: 2.5rem;
}

#hero p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #3e96ef;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

section {
    padding: 2rem 1rem;
    margin: 1rem 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
